{% extends "layouts/layout.html" %}

{% block header %}
<div class="bg-gray-light border-bottom border-gray-light">
    <div class="container text-center py-5 mb-4">
      <div class="mt-3 mb-4">
        <h1 class="h1 mb-0">Moodify</h1>
        <h2>Music Mood Predictor</h2>
        <h3 class="h4 text-gray font-weight-light">Predict the mood of your favourite music!</h3>
        <h4><strong>Please log into spotify to request a song</strong></h4>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="text-gray-light text-center py-5 my-5">
   <form action='#' method="post" onsubmit="return playsong()">
       <input id="songname" type="text" name='song_request' placeholder="enter song request here">
       <input id="artistname" type="text" name="artist" placeholder="enter artist name here">
       <input type="submit" value="Submit">
   </form>
   <div id="image-container">
     <img id="image-placeholder" src="#" width="700" height="500">
   </div>
   <div class="footer">
      <i class="fas fa-play-circle fa-4x"></i>
   </div>
</div>
{% endblock %}
